*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    font-family:montserrat;
    color: white;
}

.location, .temp{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temp{
    flex-direction: column;
}

.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
    span{
        margin: 10px;
        font-size: 2em;
    }

    h2{
        font-size: 3em;
    }
}

#privacy{
    font-size: 0.7em;
    color: lightgrey;
}

p{
    padding-top: 5em;
}

footer{
    margin-top: 2%;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;

    p{
        padding: 0;
        padding: 0 .4em;
    }

    img{
        height: 1em;
        padding-top:0.2em;
    }
}